:root {
    margin: 0;
    padding: 0;
}

.page-container {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4vh;
    padding-bottom: 2.5rem;
}

.btn-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.square-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-style: solid;
    max-width: fit-content; */
}

.square {
    height: 10px;
    width: 10px;
    border: solid grey;
    background-color: #eee;
}

.bottom-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 97vw;
    height: fit-content;
    margin-top: auto;
}

.github-logo {
    font-size: 3rem;
    margin-left: 1rem;
    transition: transform 1s;
}

a {
    color: inherit;
}

.github-logo:hover {
    transform: rotate(1turn);
}